.blueish {
    background-color: #2D93AD;
}

.main {
    background-color: #EFF7FF;
}

.push-button {
    position: relative;
    left: 52px;
}

.logo {
    max-height: 35px;
    width: auto;
}

.monster {
    z-index: 1;
    max-width: 75px;
}

.bigger-monster {
    z-index: 1;
    max-width: 150px;
    position: absolute;
    top: -75px;
}

.biggerer-monster {
    z-index: 1;
    max-width: 210px;
    position: fixed;
    right: -35px;
    top: 500px;
}

.biggest-monster {
    z-index: 1;
    max-width: 850px;
    position: fixed;
    bottom: -180px;
    left: 225px;
}

.z2 {
    z-index: 2;
}